<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add A Prodcut</title>
  </head>
  <body>
    <form method="post" action="/products">
      <input type="text" name="name" placeholder="Product Name" id="" />
      <input type="number" name="price" id="" placeholder="Product Price" />

      <select name="category">
        <option value="fruits">fruits</option>
        <option value="vegetables">vegetables</option>
        <option value="dairy">dairy</option>
      </select>
      <button>Submit</button>
    </form>
  </body>
</html>
